body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:707px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.682352941176471);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:707px;
  display:flex;
}
#u680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682 {
  position:fixed;
  left:0px;
  top:0px;
}
#u682_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
  display:flex;
}
#u684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:21px;
  width:109px;
  height:26px;
  display:flex;
}
#u685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:25px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u687 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:71px;
  width:343px;
  height:131px;
  display:flex;
}
#u687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:130px;
  width:330px;
  height:1px;
  display:flex;
}
#u688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:83px;
  width:35px;
  height:35px;
  display:flex;
}
#u690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:88px;
  width:25px;
  height:25px;
  display:flex;
}
#u691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:90px;
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:91px;
  width:20px;
  height:20px;
  display:flex;
}
#u693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:148px;
  width:140px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:170px;
  width:164px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u697 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:216px;
  width:346px;
  height:50px;
  display:flex;
}
#u697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:231px;
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u700 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:280px;
  width:346px;
  height:50px;
  display:flex;
}
#u700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:295px;
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u701 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u701_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u703 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:344px;
  width:346px;
  height:50px;
  display:flex;
}
#u703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:359px;
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u704_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u706 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:408px;
  width:346px;
  height:50px;
  display:flex;
}
#u706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:423px;
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u707 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u707_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u708 {
  position:fixed;
  left:50%;
  margin-left:-188.5px;
  bottom:0px;
}
#u708_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:377px;
  height:49px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(247, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  display:flex;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 55px;
  box-sizing:border-box;
  width:100%;
}
#u709_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(247, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 183, 245, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u709.selected {
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#09BB07;
  line-height:10px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:94px;
  height:10px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#09BB07;
  line-height:10px;
}
#u711 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:5px;
  width:27px;
  height:27px;
  display:flex;
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u713 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:36px;
  width:94px;
  height:10px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:5px;
  width:27px;
  height:27px;
  display:flex;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:36px;
  width:94px;
  height:10px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:5px;
  width:27px;
  height:27px;
  display:flex;
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:36px;
  width:94px;
  height:10px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u721 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:5px;
  width:27px;
  height:27px;
  display:flex;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:36px;
  width:94px;
  height:10px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F8389;
  line-height:10px;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:5px;
  width:27px;
  height:27px;
  display:flex;
}
#u725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(215, 215, 215, 0.584313725490196);
  -webkit-box-shadow:2px 2px 3px rgba(215, 215, 215, 0.584313725490196);
  box-shadow:2px 2px 3px rgba(215, 215, 215, 0.584313725490196);
}
#u726 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:487px;
  width:292px;
  height:40px;
  display:flex;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:539px;
  width:15px;
  height:15px;
  display:flex;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:539px;
  width:196px;
  height:16px;
  display:flex;
  color:#555555;
}
#u729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
